include README.md LICENSE pyproject.toml
recursive-include frappe_investing *.py *.json *.js *.css *.txt *.svg *.html *.csv
recursive-include docs *.md
recursive-include tests *.py *.json *.csv *.xml
recursive-include scripts *.py
